* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(86,86,236);
    background: radial-gradient(circle, rgba(86,86,236,0.9332107843137255) 25%, rgba(67,82,135,0.9023984593837535) 53%, rgba(41,70,93,0.9051995798319328) 66%);
}
h1 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
}
p {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: blanchedalmond;
}
.red {
    color: red;
    cursor: pointer;
    
}
.green{
    color: green;
    cursor: pointer;
}
.blue {
    color: blue;
    cursor: pointer;
}
.gray {
    color: gray;
    cursor: pointer;
}
.pink {
    color: pink;
    cursor: pointer;
}
ul {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 100px;
}
a {
    text-decoration: none;
    color: cadetblue;
}
a:hover {
    color: blueviolet;
}