* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-1 {
    width: 400px;
    height: 400px;
    background-color: green;
    border-radius: 4px;
}
.div-2 {
    margin: 50px 50px;
    padding: 50px 5px;
    background-color: blue;
}
