* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(86,236,123);
    background: radial-gradient(circle, rgba(86,236,123,0.9332107843137255) 13%, rgba(67,135,109,0.9023984593837535) 54%, rgba(50,34,52,0.9051995798319328) 73%);
}
h1 {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    color: blueviolet;
}
ul{
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    margin-top: 50px;
    list-style-image: url(./assets/icons/taunt_26dp_00000_FILL0_wght400_GRAD0_opsz24.svg);
    list-style-position: unset;
}
li:hover {
    color: blueviolet;
    cursor: grab;
    text-decoration: line-through;
}
a {
    text-decoration: none;
    
}
li {
    color: rgb(113, 56, 139);
}