* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 150px;
    height: 150px;
    background-color: rgb(241, 181, 90);
    border-radius: 10px;
    font-size: 8em;
}
.container{
    display: flex;
    justify-content: space-around;
}
body{
    background-image: linear-gradient(gray,rgb(92, 90, 90));
    height: 100vh;
}