* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}
.main h1 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.photo {
    margin-bottom: 20px;
    margin-top: 20px;
    
}
p {
    color: darkolivegreen;
}
body {
    background-image: url(./assets/images/back.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}